<html>
    <head>
        {% if title %}
        <title>{{ title }} - My blog</title>
        {% else %}
        <title>Welcome to my blog</title>
        {% endif %}
    </head>
    <body>
        <div>
            My Blog: 
                <a href="/">Home</a>
                <a href="/login">Login</a>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <hr>
        {% block content %}{% endblock%}
    </body>
</html>